<div>
    <h1>{{i18n 'Gastos'}}</h1>
    {{#if gastos.length}}
    <div class="charts">
        <div id="lineGraph"></div>
        <div id="pieGraph"></div>
    </div>
    {{/if}}

    <div>
        <a href='#add-gasto'>{{i18n 'Añadir gasto'}}</a>
        {{#if gastos.length}}
        <input type="button" id='downloadcsv' value="{{i18n 'Download CSV'}}"></input>
        <form>
            {{i18n 'Low Date'}}: <input type="date" id="lowdate">
            {{i18n 'Hight Date'}}: <input type="date" id="highdate">
            <input type="submit" id='daterefresh' value="{{i18n 'Refresh'}}">
        </form>

        <table border="1" id='gastos-table'>
            <thead>
                <tr>
                    <th>{{i18n 'Tipo'}}</th>
                    <th>{{i18n 'Cantidad'}}</th>
                    <th>{{i18n 'Fecha'}}</th>
                    <th>{{i18n 'Descripción'}}</th>
                    <th>{{i18n 'UUID del fichero'}}</th>
                    <th>{{i18n 'Acciones'}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each gastos}}
                <tr fronty-component="GastoRowComponent" key="{{id}}" model="gastos[{{@index}}]" id="item-{{id}}"></tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
    </div>
</div>