<tr key="{{id}}">
  <td>{{title}}</td>
  <td>{{author_id}} ({{user.currentUser}})</td>
  <td>
      <button class="remove-button" item="{{id}}">{{i18n 'remove'}}</button>
      <button class="edit-button" item="{{id}}">{{i18n 'edit'}}</button>
  </td>
</tr>
