<div>
  {{i18n 'Type'}}:<input type="text" id="tipo" value="{{selectedGasto.tipo}}">
  {{#i18n}}{{errors.tipo}}{{/i18n}}<br> 

  {{i18n 'Amount'}}:<input type="text" id="cantidad" value="{{selectedGasto.cantidad}}">
  {{#i18n}}{{errors.cantidad}}{{/i18n}}<br> 

  {{i18n 'Date'}}:<input type="date" id="fecha" value="{{selectedGasto.fecha}}">
  {{#i18n}}{{errors.fecha}}{{/i18n}}<br> 

  {{i18n 'Description'}}:<input type="text" id="descripcion" value="{{selectedGasto.descripcion}}">
  {{#i18n}}{{errors.descripcion}}{{/i18n}}<br> 

  {{i18n 'File'}}:<input type="file" accept=".pdf" id="uuidFichero" value="{{selectedGasto.uuidFichero}}">
  {{#i18n}}{{errors.uuidFichero}}{{/i18n}}<br> 
  
  <input type="button" id="savebutton" value="{{i18n 'Save'}}"></input>
</div>
