<tr key="{{id}}">
  <td>{{tipo}}</td>
  <td>{{cantidad}}</td>
  <td>{{fecha}}</td>
  <td>{{descripcion}}</td>
  <td><a href="uploads/{{uuidFichero}}.pdf" download="{{uuidFichero}}.pdf">{{uuidFichero}}</a></td>
  <td>
      <button class="remove-button" item="{{id}}">{{i18n 'remove'}}</button>
      <button class="edit-button" item="{{id}}">{{i18n 'edit'}}</button>
  </td>
</tr>
