  <form id='formedit'>
  {{i18n 'Password'}}:<input type="text" id="passwd">
  {{#i18n}}{{errors.passwd}}{{/i18n}}<br> 

  {{i18n 'Confirm Password'}}:<input type="text" id="passwdbis" >
  {{#i18n}}{{errors.passwdbis}}{{/i18n}}<br> 

  {{i18n 'Email'}}:<input type="text" id="email">
  {{#i18n}}{{errors.email}}{{/i18n}}<br> 
  
  <input type="button" id="savebuttonedit" value="{{i18n 'Save'}}"></input>
</form>